html,
body {
  font-family: "Roboto";
  color: white;
  background-color: #252b42;
}
* {
  box-sizing: border-box;
}
button {
  cursor: pointer;
}
.header {
  padding: 38px;
  font-size: 15px;
}
.header nav ul li a {
  color: white;
  text-decoration: none;
  transition: font-size 0.15s ease-in-out;
}
.header nav ul li {
  flex: 1;
  display: flex;
  justify-content: center;
}
.header nav ul li a:hover {
  font-size: 18px;
  transition: font-size 0.15s ease-in-out;
}
.header-logo {
  width: 186px;
  height: 58px;
}

.header > div {
  width: 33.33%;
}

.header-input {
  border-radius: 39px;
  background-color: #efefef;
  padding: 19px 39px;
  border: 0px;
  font-size: 14px;
}

.header-input::placeholder {
  color: #18171d;
}

.section-input::placeholder {
  color: #18171d;
}
section .screenshot-image-container button{
  width: 236px;
  height: 65px;
}
.btn {
  border-radius: 35px;
  padding: 19px 39px;
  border: 0px;
  font-weight: bold;
  background-color: white;
  font-size: 16px;
  line-height: 16px;
  transition: all 0.15s ease-in-out;
}
.subscribe-btn-header{
  padding: 19px 39px;
  background-color: white;
}
.btn:hover {
  opacity: 0.8;
  transition: all 0.15s ease-in-out;
}
.btn:active {
  opacity: 0.6;
  transition: all 0.15s ease-in-out;
}

.header-mail-input-container {
  margin-right: 12px;
}

.bg-gradient {
  background: linear-gradient(39.97deg, #ef2779 0.79%, #7834be 79.29%);
  height: 805px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}
.bg-gradient > div {
  position: relative;
  width: 100%;
  height: 100%;
}
.bg-gradient svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.text-pink {
  color: #ef2779;
}
main {
  position: relative;
  z-index: 1;
}

#above-the-fold > div:nth-child(1) {
  flex: 3;
}
#above-the-fold > div:nth-child(2) {
  flex: 2;
}
#above-the-fold .screenshot-image-container {
  padding: 50px;
  padding-left: 0;
}
#above-the-fold {
  align-items: center;
}

h1 {
  font-size: 55px;
  font-weight: 900;
  color: white;
}
.s16-w700 {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.slogan-container {
  padding: 40px;
}
.text-blue {
  color: #38a3f1;
}
.text-white {
  color: white;
}

@media only screen and (max-width: 1240px) {
  .d-mobile-none {
    display: none;
  }
  #above-the-fold {
    flex-direction: column-reverse;
  }
  #above-the-fold .screenshot-image-container {
    padding: 23px;
  }
  h1 {
    font-size: 46px;
    font-weight: 400;
  }
  .slogan-container {
    text-align: center;
  }
}
@media only screen and (min-width: 1240px) {
  .d-desktop-block {
    display: block;
  }
  .d-desktop-none {
    display: none;
  }
}

/* my own code */

.background-main{
  height: 2000px;
  z-index: -2;
  position:absolute;
  left: 0;
  top: 800px;
  width: 100%;
}

.s22-w700 {
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
}

.s46-w400 {
  font-size: 46px;
  font-weight: 400;
  line-height: 57px;
}

.features .features-list li {
	display: inline-block;
	width: 33%;
	position: relative;
}

.features .features-list li img{
  width: 43px;
  height: 43px;
}
.features .features-list li div p{
  margin-left: 10px;
}

.s18-w400{
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

.margin-top-20{
  margin-top: 20px;
}
.margin-top-25{
  margin-top: 25px;
}
.margin-top-103{
  margin-top: 103px;
}
.margin-top-93{
  margin-top: 93px;
}

.try-for-free-btn{
  width: 236px;
  height: 65px;
  border-radius: 35px;
  padding: 16px 0px;
  border: 0px;
  font-weight: 700;
  background-color: #38A3F1;
  font-size: 22px;
  line-height: 33px;
  transition: all 0.15s ease-in-out;
}

.trans-hover:hover {
  opacity: 0.8;
  transition: all 0.15s ease-in-out;
}
.trans-active:active {
  opacity: 0.6;
  transition: all 0.15s ease-in-out;
}

.section-input {
  width: 353px;
  height: 54px;
  border-radius: 39px;
  background-color: #F4F4F4;
  padding: 19px 35px;
  border: 0px;
  font-size: 14px;
  margin-top: 34px;
}

.subscribe-btn-section{
  width: 353px;
  height: 54px;
  padding: 17px 35px;
  background-color: #EF2779;
  margin-top: 12px;
}

.s12-w700{
  font-size: 12px;
  font-weight: 700px;
  line-height: 18px;
}

.partner-list li {
	display: inline-block;
	width: 33%;
	position: relative;
}

.partners .partner-list img{
  width: 100px;
  height: 100px;
}

.testimonials-btn{
  width: 280px;
  height: 65px;
  border-radius: 35px;
  padding: 16px 0px;
  border: 0px;
  font-weight: 700;
  background-color: #38A3F1;
  font-size: 22px;
  line-height: 33px;
  transition: all 0.15s ease-in-out;
}

.s15-w400{
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
}

.pricing .pricing-list > div {
width: 335px;
height: 310px;
border-radius: 10px;
}

.pricing-free,
.pricing-standard{
  background-color: white;
}
.pricing-bussines{
  background-color: red;
}
